// color
// background-color
bg = #0D1B2A
text = #E0E1DD
hover-text = #c5c5c5
deep-text = #778DA9
deeper-text = #415A77

// Font
font-family = 'IBM Plex Sans Thai', sans-serif

// scrollbar color
scroll-bar-color = #1B263B
scroll-bar-hover-color-dark = #415A77
// block
block-font-family = 'IBM Plex Sans Thai', sans-serif
block-font-size = 0.9rem
block-bg-color = #1B263B

global-max-width = 80ch
